<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <nav>
    <!-- ============ HEADER ============ --> 
    <%- include('./partials/header.ejs') %>
  </nav>
    <h2>Popular Jewelry</h2>    
    <ul>
        <% products.forEach(product => { %>
         <li>
            <a href="/products/<%= product._id %>"><%= product.name %> </a>

         </li>
         <% }); %>

    </ul>
    <!-- ============ FOOTER ============ -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>