<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <nav id="partials">
    <!-- ============ HEADER ============ --> 
    <%- include('./partials/header.ejs') %>
  </nav>
    <h2>Eternal gifts for your loved ones</h2>
    <nav class="top-pic">
      <img src="/images/necklace-golden.jpeg" width="300">
      <img src="/images/ring-cristal.jpeg" width="350">
      <img src="/images/gold-chain-necklace-27763.jpg" width="300">
    </nav>
    <ul>
        <% products.forEach(product => { %>
         <li>
            <a href="/products/<%= product._id %>"><%= product.name %> </a>

         </li>
         <% }); %>

    </ul>
    <!-- ============ FOOTER ============ -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>