<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Store</title>
</head>
<body>
    <nav>
        <a href="/products">Jewelry Store</a>
    </nav>
    <h1><%= product.name %></h1><br/>
    <img src="<%= product.img%>.jpg">
    <p><%= product.description %></p>
    <p><%= product.price %></p>

    <!-- Delete section -->
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
    </form>
    
    <!-- Edit page -->
    <a href="/products/<%= product._id %>/edit">Edit Jewelry</a>
</body>
</html>